*{
    margin: 0 auto;
}
/* raleway and inter font */

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* banner styles */
.navigation{
    height: 151px;
    width: 1140px;
    display: flex;
    gap: 909px;
    align-items: center;
    margin: 0 150px;
}
.banner{
    height: 698px;
    width: 1440px;
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-description{
    height: 297px;
    width: auto;
}
.logo{
    height: 51px;
    width: 99px;
    font-size: 34px;
    font-weight: 900;
}

.banner-description{
    height: 237px;
    width: 905px;
    margin: 158px 267.5px 0px 267.5px;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 85px;
}

/* action section styles */
.action-section{
    
    height: 328px;
    width: 1140px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 116px;
}
.action-description{
    height: 203px;
    width: 517px;
    margin-top: 62.5px;
    
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    height: 49px;
    width: 517px;
    margin-bottom: 23px;
}
.action-subtitle{
    font: 24px;
    font-weight: 400;
    margin-bottom: 23px;
}
.action-section img{
     height: 328px;
     width: 403px;
     border-radius: 48px;
}

/* Productive users styles */
.productive-users{
    height: 306px;
    width: 1140px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-top: 116px;
    padding-top: 50px;
}
.productive-users-title{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.user-data{
    display: flex;
    /* gap: 158px; */
    justify-content: space-between;
    margin: 0px 142px 0px  142px;

}
.data h2{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.data p{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* user styles */
.user-feedback{
    height: 342px;
    width: 1140px;
    margin-top: 137px;
}
.user-feedback-title{
    font-size: 42px;
    font-weight: bold;
}
.user-container{
    margin-top: 50px;
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    height: 243px;
    /* width: 366px; */
}
.user{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    padding: 24px;
}
.user h1{
    margin-top: 24px;
    margin-bottom: 24px;
}
.user-details{
    display: flex;
    /* align-items: center; */
    margin-top: 15px;
    /* gap: 0; */
}
.user-details img{
    border-radius: 9999px;
}
/* get in touch section styles */
.get-in-touch{
    height: 632px;
    width: 1140px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 92.23px;
    margin-bottom: 50px;
}
.get-in-touch-title{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
}
.form{
    
    height: 490px;
    width: 497px;
    /* align-items: center; */
    margin-top: 71px;
}
.form label{
    font-size: 18px;
    font-weight: 500;
    
    
}
.form textarea{
    /* height: 135px;
    width: 497px; */
    border: none;
    border-radius: 10px;
    padding: 20px 230px 85px 32px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 19px; 
}
.form input{
    padding: 20px 222px 20px 32px;
    display: block;
    /* height: 70px;
    width: 497px; */
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 19px;  
    margin-top: 10px;
    
}

/* footer styles */
.footer{
    background-color: #FFFFFF;
    height: 428px;
    padding-top: 104px ;
}
.footer-logo{
    font-size: 100px;
    font-weight: 800;
    /* margin-top: 104px; */
    margin-bottom: 8px;
}
.footer-description{
    color: #8987A1;
    margin-bottom: 20px;
}
.footer a{
    text-decoration: none;
    margin-right: 40px;
}

/* all buttons */
.signup-button{
    height: 48px;
    width: 132px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
}
.stayfocused-button{
    height: 48px;
    width: 174px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
}
.launch-live-button{
    height: 48px;
    width: 229px;
    border: 2px solid #4E47FF;
    border-radius: 10px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
}
.getintouch-button{
    height: 62px;
    width: 497px;
    border: 2px solid #4E47FF;
    border-radius: 10px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    /* margin-bottom: 85px; */
}

/* shared styles */
.text-align{
    text-align: center;
}

.color-1{
    color: #4E47FF;
}
.color-2{
    color: #FFFFFF;
}
.color-3{
    color: #252432;
}
.body-color{
    background-color: #D6DDED;
}